.containerTitle {
  padding: 8px;
  margin-top: 38px;

  background-color: #008cff;
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow:
    0 4px 4px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.2);
}

.imgSiren {
  width: 14px;
  padding: 0 8px 0;
}

.textTitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 13.5px;

  margin-top: 4px;
}

.containerTardyList {
  background-color: #ffffff;
  opacity: 0.4;
  border-radius: 12px;

  box-shadow:
    0 4px 4px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1);
}
