.container {
  padding: 0 2rem;

  display: grid;
  grid-template-columns: auto auto auto;
}

.containerMailbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgMailbox {
  width: 5rem;
  object-fit: contain;
}

.textMailbox {
  padding: 1rem;
}
