.board-page {
  padding: 8px;
  box-sizing: border-box;
  max-width: 100%;
  height: 92vh;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  background-color: #f2f9ff;
}

.board-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  background-color: white;
  padding: 8px 16px;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px; /* 패딩에 따른 위치 조정 */
}

.logo-image {
  width: 60px;
  height: auto;
}

/* 검색창 스타일 */
.search-container {
  position: relative;
  left: 10px;
  width: 100%;
  max-width: 310px; /* 원하는 너비로 조정 */
  height: 40px; /* 높이도 이미지에 맞게 조정 */
  background-image: url('/src/assets/images/article/search_bar.png'); /* 이미지 경로를 설정 */
  background-size: contain;
  background-position: center;
}

.search-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 40px); /* 돋보기 버튼을 제외한 공간에 맞춤 */
  height: 100%;
  box-sizing: border-box;
  border: none;
  padding-left: 15px; /* 이미지의 왼쪽 여백에 맞춰 조정 */
  font-size: 14px;
  color: #555;
  background: transparent;
  outline: none;
}

.search-bar::placeholder {
  color: #888; /* placeholder 색상 */
}

/* 검색 버튼 스타일 */
.search-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px; /* 돋보기 이미지 크기에 맞춤 */
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.type-buttons {
  display: flex;
  gap: 8px;
  margin-top: 8px;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 8px;
}

.type-buttons::-webkit-scrollbar {
  display: none; /* 스크롤바 숨기기 */
}

.type-button {
  height: 36px;
  object-fit: contain;
  filter: grayscale(100%);
  cursor: pointer;
}

.type-button.active {
  filter: none; /* 활성화 시 원본 색상 표시 */
}

.open-type {
  margin: 8px 0;
  font-size: 20px;
}

.open-type-item.active {
  font-weight: bold;
  color: #0066ff;
}

/* 공지 바 스타일 */
.notice-bar {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
  padding: 8px;
  background-color: #ffffff;
  border: 1px solid #cfe9ff;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 12px 16px;
}

.notice-label {
  color: #4ea4ff;
}

.notice-message {
  color: #a6a6a6;
}

/* 최신순/좋아요순 버튼 스타일 */
.sort-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}

.sort-button {
  cursor: pointer;
  color: #868686;
}

.sort-button.active {
  color: #007bff;
}

.write-button {
  position: sticky;
  bottom: 1vh;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 12px 24px;
  border-radius: 24px;
  background-color: #0066ff;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
