.container {
  min-height: 100vh;

  background-color: #f2f9ff;

  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
}

.containerIntroduce {
  padding-top: 7rem;
}

.containerIntroduce > p {
  margin: 0;

  font-family: 'YeongdeokSea';
}

.imgLogin {
  height: 15rem;
  object-fit: contain;

  margin-top: 3rem;
  margin-bottom: 2rem;
}

.textBlue {
  color: #3d5fe7;
  font-size: 1.4rem;
}

.textGray {
  padding-top: 0.25rem;

  color: #83aaca;
  font-size: 1.25rem;
}

.textBlack {
  padding-top: 2rem;

  color: #040520;
  font-size: 1.5rem;
}

.textCopyright {
  margin: 2rem 0 0;

  color: #ffffff;
  opacity: 0.7;
  font-size: 10px;
  font-weight: 300;
}
