.container {
  height: 100%;

  position: relative;
  overflow: hidden;

  background-color: #f2f9ff;
}

.containerTitle {
  position: relative;

  padding: 1rem 0;

  font-family: 'YeongdeokSea';
  font-weight: 400;
  font-size: 1.5rem;
}

.iconGoBackArrow {
  position: absolute;
  left: 1.5rem;
  top: 30%;

  width: 1.5rem;
  object-fit: contain;
}
