.container {
  height: 100%;

  background-color: #f2f9ff;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.containerTitle {
  width: 100%;

  position: relative;

  padding: 1rem 0;

  font-family: 'YeongdeokSea';
  font-weight: 400;
  font-size: 1.5rem;
}

.iconGoBackArrow {
  position: absolute;
  left: 1.5rem;
  top: 30%;

  width: 1.5rem;
  object-fit: contain;
}

.containerButton {
  position: absolute;
  bottom: 4dvh;

  left: 0;
  width: 100%;

  z-index: 50;
}
