.container {
  padding: 16px;
  max-width: 480px; /* 모바일 웹앱에 맞춘 가로폭 */
  margin: 0 auto;

  height: 100%;

  background-color: #f2f9ff;
}

.containerStatus {
  padding: 16px;
  position: relative;
  text-align: start;
}

.containerStatus > p {
  margin: 0;
}

.imgLogo {
  width: 70px;
  object-fit: contain;
}

.textBlue {
  color: #3c96e0;
  font-family: 'YeongdeokSea';
  font-weight: 400;
  font-size: 18px;

  padding-top: 24px;
  padding-bottom: 16px;
}

.textTardy {
  color: #040520;
  font-family: 'YeongdeokSea';
  font-weight: 400;
  font-size: 28px;
}
