.container {
  padding: 1rem;
  background-color: #f2f9ff;
}

.containerStatus {
  padding: 0.5rem;
  position: relative;

  text-align: start;
  font-family: 'YeongdeokSea';
}

.containerStatus > p {
  margin: 0;
}

.textBlue {
  color: #3c96e0;
  font-weight: 400;
  font-size: 1rem;

  padding-bottom: 1rem;
}

.textTardy {
  color: #040520;
  font-weight: 400;
  font-size: 1.75rem;
}
