.container {
  height: 100%;
}

.containerTitle {
  position: relative;
  margin: 1rem 0;
}

.iconGoBackArrow {
  position: absolute;
  left: 1.5rem;
  top: 10%;

  width: 1.5rem;
  object-fit: contain;
}

.textTitle {
  margin: 0;
  padding-top: 4px;

  color: #000000;
  font-weight: 400;
  font-size: 1.5rem;

  text-align: center;
}

.containerTitleIcon {
  position: absolute;
  right: 1rem;
  top: 0;

  z-index: 2;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.iconMenu {
  width: 30px;
  object-fit: contain;
}

.containerMenu {
  z-index: 2;

  position: absolute;
  top: 0;
  right: 0;

  text-align: start;

  width: 10rem;
  background-color: white;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.containerMenu > div {
  padding: 0.8rem 1rem;

  border-bottom: 1px solid #cccccc;
}

.containerMenuTitle {
  display: flex;
  align-items: center;

  color: #000000;
  font-weight: 400;
  font-size: 1rem;
}

.containerMenuIcon {
  width: 1.4rem;
  object-fit: contain;

  margin-right: 8px;
}

.containerMenuItem {
  background-color: #f5f6f8;
}
