.container {
  padding: 1.5rem;

  height: 100%;
  box-sizing: border-box;
}

.containerTitle {
  position: relative;

  padding-bottom: 1rem;

  border-bottom: 1px solid #d8e0ec;

  font-weight: 400;
  font-size: 1.5rem;
}

.iconGoBackArrow {
  position: absolute;
  left: 0;

  width: 1.5rem;
  object-fit: contain;
}
