.containerTitle {
  position: relative;

  padding: 1rem 0;

  border-bottom: 1px solid #d8e0ec;

  font-weight: 400;
  font-size: 1.5rem;
}

.iconGoBackArrow {
  position: absolute;
  left: 0;

  width: 1.5rem;
  object-fit: contain;
}
