.App {
  margin: 0 auto;
  max-width: 480px; /* 모바일 웹앱에 맞춘 가로폭 */
  height: 100vh;
  overflow: hidden;

  text-align: center;
}

main {
  overflow: scroll;
}

*::-webkit-scrollbar {
  display: none;
}

#main-with-header-and-nav {
  height: 86vh;
}

#main-with-nav {
  height: 92vh;
}
