.App {
  margin: 0 auto;
  max-width: 480px; /* 모바일 웹앱에 맞춘 가로폭 */
  height: 100dvh;

  overflow-x: hidden;

  text-align: center;
  white-space: pre-wrap;
}

main {
  overflow: scroll;
  overflow-wrap: anywhere;
}

*::-webkit-scrollbar {
  display: none;
}

#main-with-header-and-nav {
  height: 86dvh;
}

#main-with-nav {
  height: 92dvh;
}
